@using SocialNetwork.Core.Application.ViewModels.User
@model SaveUserViewModel

@{
    ViewData["Title"] = "Registrate";
}

<div class="container mt-5 w-50">
    <h1 class="mb-3">Registrar Usuario</h1>
    <div class="card card-box-shadow">
        <div class="card-body">
            @if (Model.HasError)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p>@Model.Error</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label"></label>
                            <input asp-for="Phone" type="tel" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <div class="input-group">
                        <div class="input-group-text">@@</div>
                        <input asp-for="Username" class="form-control" />
                    </div>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="File" class="form-label"></label>
                    <input required asp-for="File" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-success w-50">Registrarte</button>
                </div>

                <div class="text-center">
                    ¿Tienes una cuenta?
                    <a asp-action="Login" class="link-primary">Inicia sesión</a>
                </div>
            </form>
        </div>
    </div>
</div>
