@model SocialNetwork.Core.Application.ViewModels.Friend.SaveFriendViewModel

@{
    ViewData["Title"] = "Delete friend";
}
<div class="container mt-5">
    <div class="bg-white shadow border rounded-3 p-4 mt-4 text-center card-box-shadow">
        <h3 class="mb-3">¿Are you sure you want to delete your friend?</h3>

        <form asp-controller="Friend" asp-action="DeleteFriend">
            <input type="hidden" asp-for="Id" />

            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>