@using SocialNetwork.Core.Application.ViewModels.User
@model SaveUserViewModel

@{
    ViewData["Title"] = "My Profile";
}

<div class="container mt-5 w-75">
    <div class="card card-box-shadow">
        <div class="row no-gutters px-2">
            <div class="col-md-3 bg-light rounded" style="border-right: 1px solid #dee2e6;">
                <ul class="nav flex-column nav-pills mt-3">
                    <li class="nav-item mb-1">
                        <a class="nav-link active" href="#">Mi perfil</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <div class="card-body">
                    <h1 class="mb-3">Edit Profile</h1>
                    <hr>
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="FirstName" class="form-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="LastName" class="form-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Phone" class="form-label"></label>
                                    <input asp-for="Phone" type="tel" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="File" class="form-label"></label>
                            <input asp-for="File" class="form-control" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Password" class="form-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="ConfirmPassword" class="form-label"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary w-50">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>